language: java
dist: jammy          # Java 21을 쓰려면 Ubuntu 22.04(jammy) 환경이 필요합니다.
jdk:
  - openjdk21

branches:
  only:
    - main

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

before_script:
  - cd deploymnet-study    # [핵심] 프로젝트 폴더 안으로 들어갑니다.
  - chmod +x gradlew       # [필수] gradlew 파일에 실행 권한을 줍니다. (이게 없으면 'Permission denied' 에러 남)

script:
  - ./gradlew clean build  # 빌드 실행
